.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 226px;
  height: auto;
  background: url("./images/buttonPng.png") 0% 0% / 100% 100% repeat,
    url("https://studio.plasmic.app/static/img/placeholder.png") 0% 0% / 100%
      100% repeat;
}
